<div data-ng-controller="reportController"
	ng-init="getBloodReport('blood')">
	<div class=" panel" style="position: relative;">

		<div class="panel-body">
			<!-- 			<div class="logo"> -->
			<!-- 				<img class="img-responsive" src="app/img/persistent-logo_0_0.png" -->
			<!-- 					alt="Express Clinics Pvt.Ltd."></img> -->
			<!-- 			</div> -->
			<br />
			<div class="" style="overflow-y: auto; height: 60%">
				<table class="table table-striped"
					style="border: 1px; overflow-x: auto">
					<tr style="font-weight: bold">
						<th style="width: 30%">TEST NAME</th>
						<th style="width: 20%">RESULT</th>
						<th style="width: 20%">UNITS</th>
						<th style="width: 30%">Normal Range</th>
					</tr>
					<tr></tr>
					<tr ng-repeat="Observation in bloodData.contained">
						<td style="width: 30%">{{Observation.name.text}}</td>
						<td style="width: 20%" ><label id="{{Obeservation.interpretation.coding[0].code}}">{{Observation.valueQuantity.value}}</label></td>
						<td style="width: 10%">{{Observation.valueQuantity.units}}</td>
						<td style="width: 30%"><p
								id="range{{Obeservation.interpretation.coding[0].code}}">{{Observation.referenceRange[0].low.value}}
								- {{Observation.referenceRange[0].high.value}}</p>
							</p></td>
					</tr>
				</table>
			</div>
			<div style="width: 100%; background-color: darkgray; height: 1px"></div>
			</br>
			<!-- 
			<div class="col-xs-6 col-sm-4 col-md-2 ">
				<div id="L" class="col-xs-6 col-sm-6 col-md-6"></div>
				<div class="col-xs-6 col-sm-6 col-md-6">Low</div>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-2">
				<div id="H" class="col-xs-6 col-sm-6 col-md-6"></div>
				<div class="col-xs-6 col-sm-6 col-md-6">High</div>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-2">
				<div id="POS" class="col-xs-6 col-sm-6 col-md-6"></div>
				<div class="col-xs-6 col-sm-6 col-md-6">Positive</div>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-2">
				<div id="NEG" class="col-xs-6 col-sm-6 col-md-6"></div>
				<div class="col-xs-6 col-sm-6 col-md-6">Negative</div>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-2">
				<div id="DET" class="col-xs-6 col-sm-6 col-md-6"></div>
				<div class="col-xs-6 col-sm-6 col-md-6">Detected</div>
			</div>
 -->
		</div>
	</div>
</div>