<head>
  <script src="library/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="library/sweetalert.css"> 
</head>
<style>
  select {
  
    border: 1px solid #111;
   background: transparent;
   width: 150px;
   padding: 5px 35px 5px 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
    
} 
</style>
<div class="row" ng-controller="SweetAlertController">
  <div class= "col-sm-10 col-lg-10" style="padding-left:23%">
   <div class="col-sm-5 col-lg-5">
     <h4>Type of plan</h4>
     <select name="singleSelect" id="singleSelect" ng-change="selectChanged()" ng-model="data.singleSelect">
      <option value="">Please select</option> <!-- not selected / blank option -->
       <option value="residential">residential</option>
      <option value="commercial">commercial</option>
    </select>
    </div>
    <div class="col-sm-5 col-lg-5">
    <h4>Plan Selected</h4>
     
    <select name="repeatSelect" id="repeatSelect" ng-change="selectCahnged2()" ng-model="plan.repeatSelect">
      <option ng-repeat="option in plan.availableOptions" value="{{option.id}}">{{option.name}}</option>
    </select>
  
    </div>
    </div>
    <!--<div class= "col-sm-2 col-lg-2">
      <button style="background-color:#487e00" class="btn btn-primary" color:"white">Login</button>
    </div>-->
    <div ng-show="flag" style="padding-left:23%">
      <!--<a href="#" class="icon-users" style="font-size:20px">meet</a>-->
      <p style="padding-top:10%;margin:0 0 0 20px"><a href="" data-toggle="modal"  data-target="#myModal" class="btn btn-primary icon-users" style="background-color: #1aacda">Get Help</a>
         </p>
      <img src="{{planImage}}">
      
    </div>
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
     
      <!-- Modal content-->
      <div class="modal-content">
      	<form name="myForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="brand-logo">
            <img src="app/img/images/logo.PNG" alt="App Logo" class="img-responsive" style="width:30%"/>
         </div>
          
        </div>
        <div class="modal-body">
          <p>Enter your details for screen sharing session</p>
          <p>Name: <input ng-model="name" type="text" style="padding-right:40%"/></p>
          <p>Email:&nbsp;<input ng-model="email" type="text" style="padding-right:41%"/></p>
        </div>
        <div class="modal-footer" style="text-align:center">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="getHelp()" data-toggle="modal"  data-target="#myModal2">Submit</button>
          
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
      
    </div>
  </div>
       <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
     
      <!-- Modal content-->
      <div class="modal-content">
      	<form name="myForm">
        <div class="modal-header">
          <div class="brand-logo">
            <img src="app/img/images/logo.PNG" alt="App Logo" class="img-responsive" style="width:30%"/>
         </div>
        
        </div>
        <div class="modal-body">
          <div>
                            <p>Waiting for your meet URL</p>
                             <div class="loaderImageBG" ng-hide="loadingVisible">
                              {{meetURL}}<br>
                              <a ng-href="{{meetURL}}">click here to share screen</a>
                              </div>
                            <div class="loaderImageBG" ng-show="loadingVisible">
      	                    <img  style="margin-top: 8%;margin-left: 45%;"  src="app/img/images/loading.gif">
                            </div>
                            </div>
        </div>
        <div class="modal-footer" style="text-align:center">
          <!--<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="getHelp()">Submit</button>
          -->
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
      
    </div>
  </div>
     
    
</div>