<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="library/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="library/sweetalert.css">
<style>

/* div#bg{
background:url("app/img/owl1.PNG");
 background-size: 100% 100%;
opacity:0.6;
 filter:alpha(opacity=60);  
} */
div#bg{position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("app/img/owl1.PNG"); 
   background-size: 100% 100%;
  opacity: 0.6;
    
}

</style>
</head>
<body>
 <div class="col-lg-10 col-sm-10">
      <!-- START panel-->
      <div class="panel panel-default" style="border:none;">
      <div id="bg"></div>
         <div class="panel-heading">Customers In Queue</div>
         <div id="div2"class="panel-body">
            <!-- START table-responsive-->
            <div class="table-responsive">
               <table class="table" style="color:black;font-size:15pt; font-weight: bold;">
                  <thead>
                     <tr>
                        <th>Sr.No</th>
                        <th>Name</th>
                        <th>Email Address</th>
                       
                     </tr>
                  </thead>
                  <tbody>
                     <tr >
                        <td>1</td>
                        <td>Namrata Sharma</td>
                        <td>namrata_sharma@persistent.co.in</td>
                        <td><button type="button" class="btn btn-labeled btn-info">
               <span class="btn-label"><img src="app/img/meetlogo1.png" width="30%" height="10%" style="margin-left:-50%"/>
               </span>Meet</button></td>
                     </tr>
                     <tr>
                        <td>2</td>
                        <td>Reshma Shendge</td>
                        <td>reshma_shendge@persistent.co.in</td>
                        <td><button type="button" class="btn btn-labeled btn-info">
               <span class="btn-label"><img src="app/img/meetlogo1.png" width="30%" height="10%" style="margin-left:-50%"/>
               </span>Meet</button></td>
                     </tr>
                     <tr>
                        <td>3</td>
                        <td>Shipra Singhal</td>
                        <td>shipra_singhal@persistent.co.in</td>
                        <td><button type="button" class="btn btn-labeled btn-info">
               <span class="btn-label"><img src="app/img/meetlogo1.png" width="30%" height="10%" style="margin-left:-50%"/>
               </span>Meet</button></td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <!-- END table-responsive-->
         </div>
      </div>
      <!-- END panel-->
   </div>

<div class="row" ng-controller="SweetAlertController">
    
      <div class="col-sm-3 col-lg-6">
         <p><a href="" ng-click="ClickMe();" class="btn btn-primary" style="background-color: #1aacda">Get Help</a>
         </p>
      </div>
      
         <div class="col-sm-3 col-lg-6">
         <p><a href="" ng-click="response();" class="btn btn-primary" style="background-color: #1aacda">Response From USer Agent</a>
         </p>
      </div>
      
      
   </div>

</body>
</html>