
<div style="height: 50px; width: 100%; background-color: #51c6ea;"
	class="pl">
	<a ng-click="app.layout.isCollapsed = !app.layout.isCollapsed"
		class="hidden-xs"> <em class="fa fa-navicon" style="color: white"></em>
	</a> <img src="app/img/logo-single.png" alt="App Logo" class="pl"
		style="width: 50px; height: 45px; color: blue;" /> <a
		 no-persist="no-persist" title="Chat">
		<em class="fa fa-comment pr"
		style="color: white; float: right; padding-top: 15px;"></em>
	</a>


</div>
<!-- toggle-state="offsidebar-open" -->